<footer class="flex w-full h-auto m-auto p-6 bg-black">
    <div
        class="flex w-full 2xl:w-4/5 h-auto justify-between mx-auto items-center"
    >
        <a
            class="items-center cursor-pointer"
            (click)="scrollToSection('home')"
        >
            <span
                class="font-bold text-xl leading-6 tracking-tight text-white select-none"
                >&lt;Lucas/&gt;</span
            >
        </a>
        <div
            class="flex flex-col justify-center text-base leading-5 tracking-tight font-semibold text-white text-right"
        >
            <span class="align-middle"
                >&copy; {{ 'footer.title' | translate }}</span
            >
            <span>{{ 'footer.subTitle' | translate }}</span>
        </div>
    </div>
</footer>
