<footer class="flex w-full h-auto m-auto p-6 bg-black">
    <div class="flex w-full 2xl:w-4/5 h-auto justify-between mx-auto">
        <div class="">
            <a class="flex items-center" href="#home">
                <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 200.000000 200.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,200.000000) scale(0.100000,-0.100000)" fill="#fff" stroke="none">
                        <path d="M345 1887 c56 -22 74 -37 102 -85 l28 -47 5 -710 c5 -708 5 -710 27 -751 12 -23 36 -53 52 -67 51 -43 109 -49 431 -45 327 3 328 3 388 72 31 36 52 90 52 137 0 39 25 114 49 147 11 16 40 39 63 51 l43 21 -213 0 c-232 0 -255 -4 -304 -56 -37 -40 -57 -92 -64 -167 -11 -121 -38 -161 -71 -110 -17 25 -18 83 -23 748 -5 713 -5 720 -27 760 -27 50 -58 80 -105 100 -30 12 -79 15 -250 14 -174 0 -208 -3 -183 -12z"/>
                    </g>
                </svg>
                <span class="font-bold text-xl leading-6 tracking-tight text-white">{{ footerIconTitle }}</span>
            </a>
        </div>
        <div class="flex flex-col justify-center text-base leading-5 tracking-tight font-semibold text-white text-right">
            <span class="align-middle">{{ footerTitle }}</span>
            <span>{{ footerSubTitle }}</span>
        </div>
    </div>
</footer>
