<header class="flex items-center justify-between md:justify-around w-full h-28 px-6 bg-white">
    <a href="/home">
        <img class="w-15" src="/assets/img/logo.jpg" alt="">
    </a>
    <nav
        class="nav flex bg-white"
        [ngClass]="{'active': menuOpen}"
    >
        <button
            class="menu-button block md:hidden"
            type="button"
            (click)="toggleMenu()"
        >
        </button>
        <ul class="nav-list flex mx-auto font-semibold text-xl leading-6 tracking-tight md:gap-8 bg-white">
            <li class="hover:underline cursor-pointer">
                <a class="py-4" href="#firstRoute">{{ firstTitle }}</a>
            </li>
            <li class="hover:underline cursor-pointer">
                <a class="py-4" href="#secondRoute">{{ secondTitle }}</a>
            </li>
            <li class="hover:underline cursor-pointer">
                <a class="py-4" href="#thirdRoute">{{ thirdTitle }}</a>
            </li>
            <li class="hover:underline cursor-pointer">
                <a class="py-4" href="#fourthRoute">{{ fourthTitle }}</a>
            </li>
            <li class="block md:hidden">
                <button
                    class="group flex w-full p-4 rounded-md border-2 border-transparent active:border-black bg-black hover:bg-neutral active:bg-white text-white active:text-black text-xl leading-6 tracking-wide cursor-pointer gap-2 "
                    type="button"
                    (click)="submit()"
                >
                    {{ buttonTitle }}
                    <app-svg
                        icon="download"
                        [size]="22"
                    ></app-svg>
                </button>
            </li>
        </ul>
    </nav>
    <div class="hidden md:flex">
        <button
            class="group flex w-full p-4 rounded-md border-2 border-transparent active:border-black bg-black hover:bg-neutral active:bg-white text-white active:text-black text-xl leading-6 tracking-wide cursor-pointer gap-2 "
            type="button"
            (click)="submit()"
        >
            {{ buttonTitle }}
            <app-svg
                icon="download"
                [size]="22"
            ></app-svg>
        </button>
    </div>
</header>
