<header class="flex items-center justify-around w-full h-28">
    <div class=""></div>
    <nav class="flex ">
        <ul class="flex items-center justify-between font-semibold text-xl leading-6 tracking-tight gap-8">
            <li class="hover:underline cursor-pointer">
                <a href="">{{ firstTitle }}</a>
            </li>
            <li class="hover:underline cursor-pointer">
                <a href="">{{ secondTitle }}</a>
            </li>
            <li class="hover:underline cursor-pointer">
                <a href="">{{ thirdTitle }}</a>
            </li>
            <li class="hover:underline cursor-pointer">
                <a href="">{{ fourthTitle }}</a>
            </li>
        </ul>
    </nav>
    <div class="">
        <button
            class="flex w-full p-4 rounded-md border-2 border-transparent active:border-black bg-black hover:bg-neutral active:bg-white text-white active:text-black text-xl leading-6 tracking-wide cursor-pointer gap-2 "
            type="button"
            (mousedown)="isActive = true"
            (mouseup)="isActive = false"
            (mouseleave)="isActive = false"
            (click)="submit()"
        >
            {{ buttonTitle }}
            <img [src]="isActive ? 'assets/svg/download-black.svg' : 'assets/svg/download-white.svg'" alt="Download">
        </button>
    </div>
</header>
