<div
    class="flex w-full h-auto p-2 mx-auto rounded-lg break-keep"
    [ngClass]="{
        'bg-transparent': noBackground,
        'bg-black-800': !noBackground,
        'border-none': noBorder,
        'border-2 border-neutral-500': !noBorder
    }"
>
     <div class="flex flex-col w-full h-auto">
        <div class="flex w-full h-auto flex-col items-start py-4 px-4 xl:flex-row xl:justify-between xl:items-center">
            <div class="flex items-center gap-4 w-auto">
                <img [src]="imageUrl" alt="" class="w-10 h-10 object-contain" />
                <span class="text-xl leading-6 md:text-2xl md:leading-7 text-white font-semibold">
                    {{ title }}
                </span>
            </div>
            <div class="flex items-center text-base leading-5 text-neutral-300 font-semibold mt-4 xl:mt-0">
                <span>{{ initialDate }}</span>
                <span class="mx-1">-</span>
                <span>{{ endDate }}</span>
            </div>
        </div>
        <div class="w-full h-auto px-4 text-neutral-300 my-4">
            <p>{{ description }}</p>
        </div>
    </div>
</div>
