<div class="w-full">
    <div
        class="border-2 rounded-lg text-base text-start"
        [class]="showError ? 'border-error-500' : 'border-black'"
    >
        <div class="flex w-full rounded-lg">
            <input
                class="w-full h-15 rounded-lg border-none focus:outline-none p-4 text-base leading-5 tracking-tight"
                [class]="showError ? 'placeholder:text-error-500' : 'placeholder:text-neutral-500'"
                [placeholder]="placeholder"
                [type]="type"
                [value]="value"
                [disabled]="isDisabled"
                (input)="onInput($event)"
                (blur)="onBlur()"
            >
        </div>
    </div>

    <div *ngIf="showError && errorMessage" class="mt-1 -mb-7">
        <span class="text-error-500 text-base leading-5 tracking-tight">{{ errorMessage }}</span>
    </div>
</div>
