<div class="flex flex-col w-full h-auto mx-auto py-20 bg-black">
    <div class="justify-center items-center mx-auto mb-5 text-white">
        <span
            class="text-[28px] leading-8 md:text-5xl md:leading-14 tracking-tight"
            >{{ 'projects.title' | translate }}</span
        >
        <span
            class="text-[28px] leading-8 md:text-5xl md:leading-14 tracking-tight font-extrabold"
            >{{ 'projects.strong' | translate }}</span
        >
    </div>
    <div
        class="grid grid-cols-1 xl:grid-cols-2 w-full h-auto mx-auto 2xl:w-4/5"
    >
        <project-card
            *ngFor="let project of projectsList.slice(0, visibleProjects)"
            [title]="project.title"
            [imageUrl]="project.imageUrl"
            [description]="project.description"
            [modalDescription]="project.modalDescription"
            [techsUsed]="project.techsUsed"
            [techs]="project.techs"
            [demoTitle]="'projects.demo'"
            [repoTitle]="'projects.repo'"
            [apiTitle]="'projects.api'"
            [demo]="project.demo"
            [repository]="project.repository"
            [api]="project.apiRepository || ''"
        />
    </div>
    <div class="flex w-full justify-center mx-auto mt-5">
        <button
            *ngIf="visibleProjects < projectsList.length"
            class="group flex p-4 rounded-xl border-2 border-transparent bg-neutral hover:bg-black-800 text-white text-xl leading-6 tracking-wide cursor-pointer gap-2 transition-colors"
            href="assets/docs/cv_LucasGoncalves.pdf"
            type="button"
            (click)="submit()"
        >
            <span>{{ 'projects.load-more' | translate }}</span>
            <img src="assets/svg/down.svg" alt="Down" />
        </button>
    </div>
</div>
