<div class="flex flex-col w-full h-auto mx-auto py-20 bg-black">
    <div class="justify-center items-center mx-auto mb-20 text-white">
        <span class="text-[28px] leading-8 md:text-5xl md:leading-14 tracking-tight">{{ projectsTitle }}</span>
        <span class="text-[28px] leading-8 md:text-5xl md:leading-14 tracking-tight font-extrabold">{{ projectStrong }}</span>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-2 w-full h-auto mx-auto 2xl:w-4/5">
        <project-card
            projectTitle="App fifty cent"
            projectDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut imperdiet velit. Suspendisse potenti. Mauris eget dolor eros. In quis eros ut arcu volutpat consequat eget et turpis. Donec sit amet orci tempus justo finibus convallis"
            demo="https://www.google.com"
            repository="https://www.google.com"
            [techs]="[
                {name: 'Java', icon: 'miniJava'},
                {name: 'Angular', icon: 'miniAngular'},
                {name: 'Typescript', icon: 'miniTypescript'}
            ]"
        />
        <project-card
            projectTitle="App fifty cent"
            projectDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut imperdiet velit. Suspendisse potenti. Mauris eget dolor eros. In quis eros ut arcu volutpat consequat eget et turpis. Donec sit amet orci tempus justo finibus convallis"
            demo="https://www.google.com"
            repository="https://www.google.com"
            [techs]="[
                {name: 'Java', icon: 'miniJava'},
                {name: 'Angular', icon: 'miniAngular'},
                {name: 'Typescript', icon: 'miniJavascript'}
            ]"
        />
        <project-card
            projectTitle="App fifty cent"
            projectDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut imperdiet velit. Suspendisse potenti. Mauris eget dolor eros. In quis eros ut arcu volutpat consequat eget et turpis. Donec sit amet orci tempus justo finibus convallis"
            demo="https://www.google.com"
            repository="https://www.google.com"
            [techs]="[
                {name: 'Java', icon: 'miniJava'},
                {name: 'Angular', icon: 'miniAngular'},
                {name: 'Typescript', icon: 'miniTypescript'}
            ]"
        />
        <project-card
            projectTitle="App fifty cent"
            projectDescription="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut imperdiet velit. Suspendisse potenti. Mauris eget dolor eros. In quis eros ut arcu volutpat consequat eget et turpis. Donec sit amet orci tempus justo finibus convallis"
            demo="https://www.google.com"
            repository="https://www.google.com"
            [techs]="[
                {name: 'Java', icon: 'miniJava'},
                {name: 'Angular', icon: 'miniAngular'},
                {name: 'Typescript', icon: 'miniTypescript'}
            ]"
        />
    </div>
</div>
