<div class="flex w-full h-auto mx-auto py-12 break-keep border-2 ">
    <div class="flex flex-col md:flex-row xl:flex-col justify-center gap-8 w-full h-auto mx-6">
        <div class="md:w-[525px] h-96 border-2 rounded-4xl xl:m-0 overflow-hidden cursor-pointer" (click)="openModal()">
            <img class="w-full h-full object-cover transition-all duration-300 ease-in-out hover:scale-105 hover:opacity-80" [src]="imageUrl">
        </div>
        <div class="flex flex-col md:w-2/3 h-auto gap-6">
            <div class="text-white hover:underline cursor-pointer" (click)="openModal()">
                <span class="text-xl leading-6 md:text-[32px] md:leading-10 font-bold tracking-tight">
                    {{ title | translate }}
                </span>
            </div>
            <div class="flex flex-col w-full xl:w-xl h-auto text-neutral-500 gap-4">
                <p class="text-base leading-6 tracking-wide break-keep">
                    {{ description | translate }}
                </p>
            </div>
            <div class="flex flex-col w-full gap-6">
                <div class="flex flex-wrap gap-2 w-full">
                    <div
                        *ngFor="let tech of techs"
                        class="group flex items-center p-2 px-3 bg-neutral rounded-md hover:bg-black-800 transition-colors cursor-pointer gap-2"
                    >
                        <app-svg class="fill-white" [icon]="tech.icon" [size]="25" />
                        <span class="text-white">{{ tech.name }}</span>
                    </div>
                </div>
                <div class="flex gap-4 items-center">
                    <a *ngIf="hasDemo"  class="group flex gap-2" [href]="demo" target="_blank">
                        <span class="text-white group-hover:text-neutral">{{ demoTitle | translate }}</span>
                        <app-svg class="text-white group-hover:text-neutral" icon="link" [size]="20" />
                    </a>
                    <a *ngIf="hasRepository" class="group flex gap-2" [href]="repository" target="_blank">
                        <span class="text-white group-hover:text-neutral">{{ repoTitle | translate }}</span>
                        <app-svg class="text-white group-hover:text-neutral" icon="link" [size]="20" />
                    </a>
                    <a *ngIf="hasApi" class="group flex gap-2" [href]="api" target="_blank">
                        <span class="text-white group-hover:text-neutral">{{ apiTitle | translate }}</span>
                        <app-svg class="text-white group-hover:text-neutral" icon="link" [size]="20" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<modal [(show)]="showModal">
    <div class="flex flex-col lg:flex-row w-full custom-scrollbar">
        <div class="h-48 lg:w-1/2 lg:h-auto flex-shrink-0 p-6">
            <img class="w-full h-full object-cover rounded-xl" [src]="imageUrl">
        </div>
        <div class="flex flex-col gap-4 p-6 lg:w-1/2">
            <span class="text-white text-xl leading-6 md:text-[32px] md:leading-10 font-bold tracking-tight">
                {{ title | translate }}
            </span>
            <p class="text-base leading-6 tracking-wide break-keep text-neutral-500">
                {{ modalDescription | translate }}
            </p>

           <div class="flex flex-col gap-4">
                <span class="text-white text-xl leading-6 md:text-[32px] md:leading-10 font-bold tracking-tight">
                    {{ techsUsed | translate }}
                </span>

                 <div class="flex flex-wrap gap-2 w-full">
                    <div *ngFor="let tech of techs" class="group flex items-center p-2 px-3 bg-neutral rounded-md hover:bg-black-800 transition-colors cursor-pointer gap-2">
                        <app-svg class="fill-white" [icon]="tech.icon" [size]="25" />
                        <span class="text-white">{{ tech.name }}</span>
                    </div>
                </div>
                <div class="flex gap-4">
                    <a *ngIf="hasDemo"  class="group flex gap-2" [href]="demo" target="_blank">
                        <span class="text-white group-hover:text-neutral">{{ demoTitle | translate }}</span>
                        <app-svg class="text-white group-hover:text-neutral" icon="link" [size]="20" />
                    </a>
                    <a *ngIf="hasRepository" class="group flex gap-2" [href]="repository" target="_blank">
                        <span class="text-white group-hover:text-neutral">{{ repoTitle | translate }}</span>
                        <app-svg class="text-white group-hover:text-neutral" icon="link" [size]="20" />
                    </a>
                    <a *ngIf="hasApi" class="group flex gap-2" [href]="api" target="_blank">
                        <span class="text-white group-hover:text-neutral">{{ apiTitle | translate }}</span>
                        <app-svg class="text-white group-hover:text-neutral" icon="link" [size]="20" />
                    </a>
                </div>
           </div>
        </div>
    </div>
</modal>
