<div class="flex flex-col w-full h-auto mx-auto my-8">
    <div class="justify-center items-center mx-auto">
        <span
            class="text-[28px] leading-8 md:text-5xl md:leading-14 tracking-tight"
            >{{ 'skills.title' | translate }}</span
        >
        <span
            class="text-[28px] leading-8 md:text-5xl md:leading-14 tracking-tight font-extrabold"
            >{{ 'skills.strong' | translate }}</span
        >
    </div>
    <div
        class="flex flex-col w-full h-auto justify-center items-center mx-auto mt-8"
    >
        <div
            class="grid grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 mx-auto my-8 gap-2 md:gap-12"
        >
            <div
                *ngFor="let skill of skills"
                class="group flex flex-col items-center justify-center w-30 h-30 md:w-44 md:h-44 bg-white border-2 border-black active:border-transparent hover:bg-black hover:text-white cursor-pointer"
            >
                <app-svg [icon]="skill.icon" [size]="svgSize"></app-svg>
                <span
                    class="text-base md:text-xl leading-6 font-bold my-1 md:my-4"
                    >{{ skill.title }}</span
                >
            </div>
        </div>
    </div>
</div>
